header {
  display: block;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  height: 50px;
  background: #121212;

  .wrap{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 980px;

    .logo {
      display: block;
      position: absolute;
      left: 10px;
      top: 50%;
      width: 120px;
      transform: translateY(-50%);
      img {
        display: block;
        margin: 0;
        width: 100%;
      }
    }
  }
}